body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 20px; /* Add some padding to ensure buttons are not too close to the bottom edge */
    background-color: #F9ADA0;
}

